@import './global';

.headline {
  h1 {
    font-size: 24px;
    font-family: 'Oswald', sans-serif;
    line-height: 1;
    @media #{$mobile} {
      font-size: 28px;
    }      
    span {
      &.primary {
        color: $color--primary;
      }
    }
  }
  .description {
    margin: 30px 0;
    color: $color--black;
  }
}  